#c2canvasdiv {
	position: relative;
}

#slide-menu {
	position: absolute;
	height: 40%;
	background: rgba(255,255,255, 0.25);
	width: 100%;
	top: -32%;

	.toggle-menu {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20%;
		border: 0;
		background: rgba(255,255,255, 0.25);
		font-size: 3vw;
	}

	.more-games {
		width: 100%;
		background: rgba(255, 0, 255, 0.5);
		display: block;
		line-height: 300%;
		font-size: 3vw;
		text-align: center;
	}
}

#rate-game {
	height: 35%;
	width: 100%;
	font-size: 0; // display-inline hack
	margin-top: 5%;
	.star {
		display: inline-block;
		width: 20%;
		height: 100%;
		background: center center / 100% 100% url("../images/star-icon.png");

		&.selected {
			background-image: url("../images/star-icon-red.png")
		}
	}
}

#social-buttons {
	vertical-align: top;
	text-align: center;
	height: 20px;
	.share-button, .share-button {
		overflow: hidden;
		width: 25%;
		margin: 0 10%;
		vertical-align: top;
		display: block;
		display: inline-block !important;
	}
}